@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


body{
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

.btnAvailable {
  font-size: 16px;
  padding: 14px 20px;
  /* background-color: #E7FE29; */
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: 1px solid rgba(19, 19, 19,.1);
  cursor: pointer;
  transition: .5s;
}
.btnSelected{
  font-size: 16px;
  padding: 14px 20px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 1px solid rgba(19, 19, 19,.1);
   cursor: pointer;
   transition: .5s;
}